<div class="fvtt-pf2eobsidianexporter-traits">
	<p>{{localize "FVTT_PF2EOBSIDIANEXPORTER.SETTINGS.EXPORT-TRAITS.DESCRIPTION"}}</p>
	<p>
		<strong>{{localize "FVTT_PF2EOBSIDIANEXPORTER.SETTINGS.EXPORT-TRAITS.CURRENT-TEMPLATE"}}</strong>
		<code>{{traitTemplatePath}}</code>
	</p>
	<div class="form-group">
		<button type="button" data-action="exportTraits">
			<i class="fas fa-file-export"></i>
			{{localize "FVTT_PF2EOBSIDIANEXPORTER.SETTINGS.EXPORT-TRAITS.BUTTON"}}
		</button>
	</div>
</div>
